Package: uikittools
Priority: optional
Section: Utilities
Maintainer: CoolStar <coolstarorganization@gmail.com>
Architecture: iphoneos-arm
Version: 1.1.12
Description: UIKit/GraphicsServices command line access (theos testing)
Name: UIKit Tools
Author: Jay Freeman (saurik) <saurik@saurik.com>
Depiction: http://cydia.saurik.com/info/uikittools/
Depends: coreutils-bin, firmware (<< 8.3) | com.saurik.patcyh
Tag: purpose::console, role::hacker
